<!-- Add a comment indicating how this file fits into the MVC framework (is it a Model, a View, or a Controller?) and what it is responsible for handling. -->
<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login POC with Handlebars</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        {{> headerNav}}
      </header>
      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
    </div>
  </body>

</html>