<h2>I am home.hbs</h2>

<div>
  <ol>
    <li>
      Yebeg Tibs with Injera Bread
    </li>
    <li>
      Cape Malay Curry
    </li>

    {{#if loggedIn}}
      <h2>loggedIn recognized</h2>
    {{else}}
      <h2>loggedIn not not recognized</h2>
    {{/if}}
  </ol>
</div>