<h1>This is the Home page</h1>

{{#if loggedIn}}
  <p>You are logged in. I hope you feel right at home.</p>
{{else}}
  <p>You are not logged in.
    <br />Perhaps you would to click the Log In link.</p>
{{/if}}